<nav class="sidemenu">
    <ul>
        <li>
            <!-- <img src="../../../assets/logo.png" width="40px" alt=""> -->
            <span class="logo">rud Users</span>
        </li>
        <li routerLink="/home" >Home</li>
        <li routerLink="/user-crud">Cadastrar usuários</li>
        <a href="https://angular.dev/" target="_blank"><li>Angular</li></a>
        <a href="https://firebase.google.com/docs?hl=pt-br" target="_blank"><li>Firebase </li></a>
        <li routerLink="/" class="logout">Sair</li>
    </ul>
    </nav>
    
    
    